@import 'https://fonts.googleapis.com/css?family=Quicksand';

$bg-color: #000;
$hands-color: linear-gradient(transparent, transparent 5%, rgba(255, 255, 255, 0.2) 50%, white);
$clock-radius: 50vh;

$hour-hand-width: 12px;
$minute-hand-width: 8px;
$second-hand-width: 2px;

$hour-hand-length: 25%;
$minute-hand-length: 38%;
$second-hand-length: 45%;

body, html, iframe, div {
    margin: 0;
    outline: none;
    padding: 0;
    border: 0;
}

body {
    background: $bg-color;
}

#clock {
    border: 12px solid #{$bg-color};
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;;
    position: relative;
    height: 2 * $clock-radius;
    width: 2 * $clock-radius;
    margin:0 auto;

    img {
        min-height: 100%;
        min-width: 100%;
        opacity: 0.5;
    }

}

#date-readout {
    font-family: "Quicksand", "Helvetica Neue", "Arial", sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 50vh - 0.28 * $clock-radius;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 0.1 * $clock-radius;
}

#hour, #minute, #second {
    background: $hands-color;
    
    transform-origin: top;
    -webkit-transform-origin: top;
    will-change: transform;

    position: absolute;
    top: $clock-radius;
    z-index: 3;
}

#hour {
    left: calc(#{$clock-radius} - #{$hour-hand-width / 2});
    height: $hour-hand-length;
    width: $hour-hand-width;
}

#minute {
    left: calc(#{$clock-radius} - #{$minute-hand-width / 2});
    height: $minute-hand-length;
    width: $minute-hand-width;
}

#second {
    left: calc(#{$clock-radius} - #{$second-hand-width / 2});
    height: $second-hand-length;
    width: $second-hand-width;
}

